{
  "presets": ["es2015", "react", "stage-3"],
  "env": {
    "development": {
      "plugins": [
        "transform-object-assign",
        "transform-object-rest-spread",
        ["transform-class-properties", { "spec": true }],
        "react-hot-loader/babel"
      ],
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        ["transform-class-properties", { "spec": true }]
      ]
    },
    "production": {
      "plugins": [
        "transform-object-assign",
        "transform-object-rest-spread",
        ["transform-class-properties", { "spec": true }]
      ]
    }
  }
}
