{
  "presets": [
    "es2015",
    "react",
    "stage-3",
  ],
  "plugins": [
    "transform-object-assign",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }],
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "production": {
      "optional": [
        "optimisation.react.inlineElements",
        "optimisation.react.constantElements"
      ]
    }
  }
}
