{
  "presets": [
    "react",
    ["babel-preset-latest", {"modules": false}]
  ],
  "plugins": [
    "transform-object-assign",
    ["transform-class-properties", { "spec": true }],
    "react-hot-loader/babel"
  ]
}
