.rootContainer {
  min-width: 300px;
  min-height: 52px;

  & div,
  & section,
  & form,
  & img,
  & button,
  & p {
    box-sizing: border-box;
  }

  & button {
    border: none;
    outline: none;
  }

  & p,
  & button {
    margin: 0;
    padding: 0;
  }
}
