:root {
  --button-svg: {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
  };
}

.svgBtnDefault {
  @apply --button-svg;
}

.timeLine {
  width: 400px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > svg > g {
    cursor: pointer;
  }
}

.mainPlayer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.songImage {
  display: flex;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  user-select: none;
  overflow: hidden;
  position: relative;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
  }

  & > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.songImageLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  z-index: 10;

  & > img {
    border: 2px solid #fff;
    border-radius: 3px;
  }
}

.songImageRight {
  width: 50%;
  height: 100%;
  z-index: 10;
  font-size: 40px;
  color: #fff;
}

.audioTitleTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 0 6px;
  letter-spacing: 0.8px;

  & > div {
    display: flex;
  }
}
