.rootContainer {
  min-width: 400px;
  min-height: 60px;
  margin: auto;

  & div,
  & section,
  & img,
  & button,
  & p {
    box-sizing: border-box;
  }

  & button {
    border: none;
  }

  & p,
  & button {
    margin: 0;
    padding: 0;
  }
}
