.rootContainer {
  width: 800px;
  height: 400px;
  margin: auto;

  & div {
    margin: 0;
    box-sizing: border-box;
  }

  & button,
  & p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
}
